In [4]:
import pandas as pd
from sklearn.linear_model import LogisticRegression

In [1]:
#Load the data set
claimants = pd.read_csv("C:\\Users\\DELL\\OneDrive\\Desktop\\DATA SCIENCE\\claimants.csv",sep=':')
claimants.head()

NameError: name 'pd' is not defined

In [9]:
# dropping the case number columns as it is not required
claimants.drop(["CASENUM"],inplace=True,axis = 1)

KeyError: "['CASENUM'] not found in axis"

In [8]:
#Shape of the data set
claimants.shape

(1340, 6)

In [10]:
# Removing NA values in data set
claimants = claimants.dropna()
claimants.shape

(1096, 6)

In [23]:
# Dividing our data into input and output variables 
X = claimants.iloc[:,1:]
Y = claimants.iloc[:,0]
claimants

      ATTORNEY  CLMSEX  CLMINSUR  SEATBELT  CLMAGE    LOSS
0            0     0.0       1.0       0.0    50.0  34.940
1            1     1.0       0.0       0.0    18.0   0.891
2            1     0.0       1.0       0.0     5.0   0.330
3            0     0.0       1.0       1.0    31.0   0.037
4            1     0.0       1.0       0.0    30.0   0.038
...        ...     ...       ...       ...     ...     ...
1334         1     1.0       1.0       0.0    16.0   0.060
1336         0     1.0       1.0       0.0    46.0   3.705
1337         1     1.0       1.0       0.0    39.0   0.099
1338         0     1.0       0.0       0.0     8.0   3.177
1339         1     1.0       1.0       0.0    30.0   0.688

[1096 rows x 6 columns]

In [15]:
#Logistic regression and fit the model
classifier = LogisticRegression()
classifier.fit(X,Y)

LogisticRegression()

In [24]:
#Predict for X dataset
y_pred = classifier.predict(X)

In [17]:
y_pred_df= pd.DataFrame({'actual': Y,
                         'predicted_prob': classifier.predict(X)})

In [18]:
y_pred_df

      actual  predicted_prob
0          0               0
1          1               1
2          1               1
3          0               0
4          1               1
...      ...             ...
1334       1               1
1336       0               0
1337       1               1
1338       0               0
1339       1               1

[1096 rows x 2 columns]

In [19]:
# Confusion Matrix for the model accuracy
from sklearn.metrics import confusion_matrix
confusion_matrix = confusion_matrix(Y,y_pred)
print (confusion_matrix)

[[381 197]
 [123 395]]

In [20]:
((381+395)/(381+197+123+395))*100

70.8029197080292

In [25]:
#Classification report
from sklearn.metrics import classification_report
print(classification_report(Y,y_pred))

              precision    recall  f1-score   support

           0       0.76      0.66      0.70       578
           1       0.67      0.76      0.71       518

    accuracy                           0.71      1096
   macro avg       0.71      0.71      0.71      1096
weighted avg       0.71      0.71      0.71      1096

# Multiple cases

In [26]:
import seaborn as sns 
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score as ac

In [28]:
data=sns.load_dataset('iris')

In [29]:
data.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [30]:
data.shape

(150, 5)

In [31]:
data['species'].value_counts()

setosa        50
versicolor    50
virginica     50
Name: species, dtype: int64

In [33]:
x=data.iloc[:,:4]
y=data.iloc[:,4]

In [34]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,shuffle=True)

In [45]:
x_train.shape

(105, 4)

In [46]:
y_train.shape

(105,)

In [38]:
# Logistic regression and fit the model
classifier = LogisticRegression()
classifier.fit(x_train,y_train)

LogisticRegression()

In [43]:
y_train_pred=classifier.predict(x_train)

In [47]:
ac(y_train,y_train_pred)

0.9809523809523809

In [49]:
y_test_pred=classifier.predict(x_test)

In [51]:
y_test_pred

array(['setosa', 'versicolor', 'versicolor', 'versicolor', 'setosa',
       'virginica', 'virginica', 'virginica', 'virginica', 'virginica',
       'virginica', 'versicolor', 'virginica', 'virginica', 'versicolor',
       'versicolor', 'virginica', 'setosa', 'virginica', 'versicolor',
       'setosa', 'setosa', 'versicolor', 'versicolor', 'virginica',
       'versicolor', 'setosa', 'virginica', 'virginica', 'virginica',
       'versicolor', 'versicolor', 'setosa', 'virginica', 'setosa',
       'versicolor', 'virginica', 'setosa', 'setosa', 'versicolor',
       'virginica', 'setosa', 'versicolor', 'versicolor', 'versicolor'],
      dtype=object)

In [53]:
ac(y_test_pred,y_test)

0.9555555555555556

In [55]:
classifier.intercept_

array([  9.2968908 ,   1.90930652, -11.20619732])

In [57]:
classifier.coef_

array([[-0.39372895,  0.77677549, -2.29336158, -0.91414309],
       [ 0.39783875, -0.24606484, -0.07300816, -0.91035409],
       [-0.0041098 , -0.53071065,  2.36636975,  1.82449717]])

In [59]:
set(y_train)

{'setosa', 'versicolor', 'virginica'}

In [61]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test_pred,y_test)

array([[11,  0,  0],
       [ 0, 17,  0],
       [ 0,  2, 15]], dtype=int64)

In [62]:
from sklearn.metrics import classification_report
print(classification_report(y_test_pred,y_test))

              precision    recall  f1-score   support

      setosa       1.00      1.00      1.00        11
  versicolor       0.89      1.00      0.94        17
   virginica       1.00      0.88      0.94        17

    accuracy                           0.96        45
   macro avg       0.96      0.96      0.96        45
weighted avg       0.96      0.96      0.96        45

In [22]:
# ROC Curve

In [2]:
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score

fpr, tpr, thresholds = roc_curve(Y, classifier.predict_proba (X)[:,1])

auc = roc_auc_score(Y, y_pred)

import matplotlib.pyplot as plt
plt.plot(fpr, tpr, color='red', label='logit model ( area  = %0.2f)'%auc)
plt.plot([0, 1], [0, 1], 'k--')
plt.xlabel('False Positive Rate or [1 - True Negative Rate]')
plt.ylabel('True Positive Rate')

NameError: name 'Y' is not defined

In [ ]:
auc